<html xmlns:th="https://www.thymeleaf.org">
<body>

  
    

    <div th:if="${session.user_prenom != null}">
        <h1> Hello <span th:text="${session.user_prenom}"></span> !</h1>
        

    </div>

    <hr>

    <table border="1">
        <tr><th>Nom Article</th><th>Quantite</th><th>Prix</th></tr>
        <tr th:each="article : ${articles}">
            <td th:text="${article.nomArticle}"></td>
            <td th:text="${article.qteArticle}"></td>
            <td th:text="${article.prixArticle}"></td>
             <td th:text="${article.idArticle}" ></td>
        </tr>

    </table>

    <hr>
    
   <!--  <table border="1">
        <tr><th>Nom Article</th><th>Quantite</th><th>Prix</th></tr>
        <tr th:each="article : ${commande?.articles}"> 
            <td th:text="${article.nomArticle}"></td>
            <td th:text="${article.qteArticle}"></td>
            <td th:text="${article.prixArticle}"></td>
        </tr>
    </table> -->
    

    <hr>

    <h1>Ajouter un article a la commande  </h1>

    <form action="/articles/newarticle" method="post">
        <!-- <input type="hidden" name="id" th:value="${commande.id}" /> -->
        <label for="article">Article:</label>
        <input type="text"  name="nomArticle" required />
        
        <label for="qte">Quantité:</label>
        <input type="number" name="qteArticle" required />

        <label for="prix">Prix:</label>
        <input type="number" name="prixArticle" step="0.01" required />

        <button type="submit">Ajouter</button>
    </form>

    <h1>Deconnexion</h1>
		<form action= "/store/logout" method= "post">
		    <button type= "submit">Log Out </button> 
		</form>



</body>
</html>
