<html xmlns:th="https://www.thymeleaf.org">
<body>

  
    

    <div th:if="${session.user_prenom != null}">
        <h1> Hello <span th:text="${session.user_prenom}"></span> !</h1>
        

    </div>


    <h1>Ajouter un article a la commande  </h1>

    <form action="/articles/newarticle" method="post">
        <label for="article">Article:</label>
        <input type="text"  name="nom_article" required />
        
        <label for="qte">Quantité:</label>
        <input type="number" name="qte_article" required />

        <label for="prix">Prix:</label>
        <input type="number" name="prix_article" step="0.01" required />

        <button type="submit">Ajouter</button>
    </form>

    <h1>Deconnexion</h1>
		<form action= "/store/logout" method= "post">
		    <button type= "submit">Log Out </button> 
		</form>



</body>
</html>
