 <html xmlns:th="https://www.thymeleaf.org">
	<body>
		
		<div th:if="${session.user_prenom != null}">
			<h1> Hello <span th:text="${session.user_prenom}"></span> !</h1>
			

        </div>

		<div th:if="${session.user_prenom != null}">
			<h1> Hello <span th:text="${session.user_email}"></span> !</h1>
			

        </div>
		
		<hr>
		
		<h2>List of Commandes</h2>
		
		<table border="1">
			<tr><th>Id</th><th>Nom</th><th>Prenom</th></tr>
			<tr th:each="commande : ${commandes}">
				<td th:each="${commande.nom_commande}" />
				<td th:each="${commande.users_email}" />
			</tr>
	
			</table>
		<hr>
		
		<h1> Ajout dune commande </h1>

		<form action="/commandes/newcommande" method="post">
			<label for="nom_commande">Titre de la commande:</label>
			<input name="nom_commande" required />
			<input type="submit" value="Ajouter" />
		</form>
		
		<hr>

		<h1>Deconnexion</h1>
		<form action= "/store/logout" method= "post">
		    <button type= "submit">Log Out </button> 
		</form>
		
		
			
	</body>
	
</html>