<html xmlns:th="https://www.thymeleaf.org">
    <body>
        
        <div th:if="${session.user_prenom != null}">
            <h1> Hello <span th:text="${session.user_prenom}"></span> !</h1>
            

        </div>

        <!-- <div th:if="${session.user_prenom != null}">
            <h1> Hello <span th:text="${session.user_email}"></span> !</h1>
            

        </div> -->
        
        <hr>
        
        <h2>List of Commandes</h2>

        <!-- <ul>
            <li th:each="commande : ${commandes}">
                <td th:text="${commande.id}" style="display: none;"></td>
                <a th:href="@{/commandes/article(id=${commande.id})}" th:text="${commande.nomCommande}"></a>

            </li>
        </ul> -->
       
         
         <table border="1">
            <tr><th>Nom Commande</th></tr>
            <tr th:each="commande : ${commandes}">
                <td th:text="${commande.nomCommande}"></td>
				<td><a th:href="@{/commandes/article(id=${commande.id})}" th:text="${commande.nomCommande}"></a></td>
				<td th:text="${commande.id}" style="display: none;"></td>
            </tr>
    
        </table> 


        <hr>
        
        <h1> Ajout dune commande </h1>

        <form action="/commandes/newcommande" method="post">
            <label for="nomCommande">Titre de la commande:</label>
            <input name="nomCommande" required />
            <input type="submit" value="Ajouter" />
        </form>
        
        <hr>

        <h1>Deconnexion</h1>
        <form action= "/store/logout" method= "post">
            <button type= "submit">Log Out </button> 
        </form>
        
        
            
    </body>
    
</html>