<html xmlns:th="https://www.thymeleaf.org">
	<body>
		<h1> Hello <span th:text="${connected_usr}"></span> !</h1>
		
		<hr>
		
		<h2>List of Commandes</h2>

		<ul>
			<li th:each="commande : ${commandes}" th:text="${commandes.nom_commande}"></li>
		</ul>

		<hr>
		
		<h1> Ajout dune commande </h1>
		<form action="/store/new_commande" method="post">
		
		<tr> Titre de la commande : <input name="nom_commande" required/> </tr>
		<input type="submit" />
		</form>



		<hr>
		<h1>Deconnexion</h1>
		<form action= "/store/logout" method= "post">
		    <button type= "submit">Log Out </button> 
		</form>
		
		
		
		
		
			
	</body>
	
</html>