<html xmlns:th="https://www.thymeleaf.org">
	<body>
		<h1> User Log In</h1>
		
		<form action="/store/login" method="post">
		<tr> Email : <input name="nom" /> </tr>
		<tr> Mot de passe : <input name="motdepasse" /> </tr>
		<input type="submit" />
		</form>
		<hr></hr>
		
		
		
		<h1> User creation</h1>
		<form action="/store/create" method="post">
		
		<tr> Nom : <input name="nom" /> </tr>
		<tr>Prenom : <input name="prenom" /></tr>
		<tr>Email : <input name="email" /></tr>
		<tr>Mot de passe : <input name="motdepasse" /></tr>
		<input type="submit" />
		</form>
		
		
		
		
			
	</body>
	
</html>